
#bdin{
    
    border: 1px activeborder;
    filter: alpha(opacity=60)
    
}

/*Formulario que contiene el panel*/
#frmin{
        
}

/*Panel Login*/
#acc{
   font-size: 34px
}

#pgi{
    background-color: #D20005
}

#munc{
    position: relative;
    top: 10px;
    width: 300px;
    background-position: center;
    background-image: url('erm.jpg')
}


#mpio{
    position: relative;
    top: 100px;
    border-style: groove;
    width: 300px;
    background-position: center;
    border: aqua double
}

#frmmenu{
    background-image: url(../resources/images/simple-blue-ii.jpg);
    color: #D20005
}

#headmenu{
    
    position: relative;
    alignment-adjust: central
}

h1{
    color: #045491;
    padding-top: 60px;
    font-size: 38px
}

#tlbund{
    background-color: #D20005
}